.navbar-brand {
  //width: calc(100% - 68px);

  img {
    width: 100%;
    max-width: 140px;
    height: auto;
  }
}

.navbar {
  &-nav {
    .menu-item {
      border-bottom: 1px $gray-400 solid;
      margin-bottom: $spacer * 1;
      padding-bottom: $spacer * 1;
      font-family: $headings-font-family;
      text-transform: uppercase;
      //font-weight: $font-weight-bold;

      @include media-breakpoint-up(md) {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-right: $spacer;
        position: relative;

        &:before {
          content: '';
          height: 0;
          width: 100%;
          background: $gray-300;
          position: absolute;
          top: -$spacer;
          left: 0;
          right: 0;
        }
        &.active:before {
          height: 3px;
        }
      }
      
      @include media-breakpoint-up(xl) {
        margin-right: $spacer * 1.5;
        font-size: $spacer * 1.8;
      }

      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }

      .nav-link {
        padding: $spacer;

        @include media-breakpoint-up(md) {
            padding: $navbar-nav-link-padding-x $navbar-nav-link-padding-y;
        }
      }
    }
  }
  
  &-collapse {
    @include media-breakpoint-down(sm) {
      background: $dark-600;
    }
  }
  
  &--contact {
    @extend .list-unstyled;
    
    a {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      text-decoration: none;
    }
  }
  &-dark .navbar--contact,
  &-dark .navbar--social {
    a {
      color: $navbar-dark-hover-color;
      
      &:hover, &:focus {
        color: $navbar-dark-active-color;
      }
    }
  }
  
  &--social {
  
  }
}